USE [master]
GO
/****** Object:  Database [EgenDbMVC]    Script Date: 04-11-2020 23:09:25 ******/
CREATE DATABASE [EgenDbMVC] ON  PRIMARY 
( NAME = N'EgenDbMVC', FILENAME = N'G:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\EgenDbMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EgenDbMVC_log', FILENAME = N'G:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\EgenDbMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EgenDbMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EgenDbMVC]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[BankId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](max) NULL,
	[Iban] [nvarchar](max) NULL,
	[BankName] [nvarchar](max) NULL,
	[SwiftCode] [nvarchar](max) NULL,
	[RoutingType] [nvarchar](max) NULL,
	[RoutingNumber] [nvarchar](max) NULL,
	[BankCountry] [nvarchar](max) NULL,
	[BankBranch] [nvarchar](max) NULL,
	[ConsultantId] [int] NULL,
 CONSTRAINT [PK_dbo.Banks] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyAddress] [nvarchar](max) NULL,
	[Attention] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultants]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultants](
	[ConsultantId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultantName] [nvarchar](max) NULL,
	[ConsultantDesignation] [nvarchar](max) NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Consultants] PRIMARY KEY CLUSTERED 
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[InvoiceNo] [nvarchar](max) NULL,
	[BankId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[ConsultantId] [int] NULL,
	[CompanyId] [int] NOT NULL,
	[IsUsd] [bit] NOT NULL,
	[Total] [decimal](18, 2) NULL,
	[Advance] [decimal](18, 2) NULL,
	[Due] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Remuneration] [nvarchar](max) NULL,
	[RemunerationDetails] [nvarchar](max) NULL,
	[RemunerationWorkingDays] [int] NULL,
	[RemunerationDailyRate] [decimal](18, 2) NULL,
	[RemunerationTotal] [decimal](18, 2) NULL,
	[PerDiem] [nvarchar](max) NULL,
	[PerDiemDetails] [nvarchar](max) NULL,
	[PerDiemWorkingDays] [int] NULL,
	[PerDiemDailyRate] [decimal](18, 2) NULL,
	[PerDiemTotal] [decimal](18, 2) NULL,
	[AirFare] [nvarchar](max) NULL,
	[AirFareDetails] [nvarchar](max) NULL,
	[AirFareTotal] [decimal](18, 2) NULL,
	[Accommodation] [nvarchar](max) NULL,
	[AccommodationDetails] [nvarchar](max) NULL,
	[AccommodationTotal] [decimal](18, 2) NULL,
	[VisaFees] [nvarchar](max) NULL,
	[VisaFeesDetails] [nvarchar](max) NULL,
	[VisaFeesTotal] [decimal](18, 2) NULL,
	[TaxiFare] [nvarchar](max) NULL,
	[TaxiFareDetails] [nvarchar](max) NULL,
	[TaxiFareTotal] [decimal](18, 2) NULL,
	[Other] [nvarchar](max) NULL,
	[OtherDetails] [nvarchar](max) NULL,
	[OtherWorkingDays] [int] NULL,
	[OtherDailyRate] [decimal](18, 2) NULL,
	[OtherTotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 04-11-2020 23:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](max) NULL,
	[ProjectCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'34e7ca7f-60dd-4ed1-8f5d-046679091ae9', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5124cc82-7a87-4924-8ad8-308ef6f57b39', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'61bfa8b9-2556-4dab-9687-533f53e9b3bc', N'34e7ca7f-60dd-4ed1-8f5d-046679091ae9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'cc7fb4b1-e263-4b1b-80ac-b82700ba9f95', N'34e7ca7f-60dd-4ed1-8f5d-046679091ae9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a01612c2-6bc4-4467-9574-5a85bf8317f7', N'5124cc82-7a87-4924-8ad8-308ef6f57b39')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'61bfa8b9-2556-4dab-9687-533f53e9b3bc', N'salehsayeem333@gmail.com', 0, N'AI3nVRmkzniWAL9mKCzuxpb3eB2M6YR1DY4iuCbb4p2PWuA7eo4jBndJw8RM261MuA==', N'a9e97d33-8ce0-4a1d-8367-b41810640605', N'01521332088', 1, 1, NULL, 1, 0, N'salehsayeem333@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a01612c2-6bc4-4467-9574-5a85bf8317f7', N'16103070@iubat.edu', 0, N'AK48Tllv5sg0MhySFXgcKFiMOj3fLYUkRndArHl9YO9oue2jfcYSxxJHioPdvWH0vg==', N'c70fe645-500c-467c-abe3-23a7818743ef', NULL, 0, 0, NULL, 1, 0, N'16103070@iubat.edu')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'cc7fb4b1-e263-4b1b-80ac-b82700ba9f95', N'Sayeem1@gmail.com', 0, N'ADqo34mHiUWQu+YYRoDwzIW5hYYJ1/1Yp/iwJeIPSw1Wc0PXQ9O8+QOLrtXXuqUqvg==', N'8ed0b6a4-dcfb-4bdc-8c92-6bc03761d464', NULL, 0, 0, NULL, 1, 0, N'Sayeem1@gmail.com')
SET IDENTITY_INSERT [dbo].[Banks] ON 

INSERT [dbo].[Banks] ([BankId], [AccountName], [AccountNumber], [Iban], [BankName], [SwiftCode], [RoutingType], [RoutingNumber], [BankCountry], [BankBranch], [ConsultantId]) VALUES (1, N'Naimul', N'123', N'123', N'Sonali', N'123', N'sda', N'123', N'bd', N'badda', 1)
INSERT [dbo].[Banks] ([BankId], [AccountName], [AccountNumber], [Iban], [BankName], [SwiftCode], [RoutingType], [RoutingNumber], [BankCountry], [BankBranch], [ConsultantId]) VALUES (2, N'sayeem', N'sayeem', N'sayeem', N'sayeem', N'sayeem', N'sayeem', N'sayeem', N'sayeem', N'sayeem', 2)
INSERT [dbo].[Banks] ([BankId], [AccountName], [AccountNumber], [Iban], [BankName], [SwiftCode], [RoutingType], [RoutingNumber], [BankCountry], [BankBranch], [ConsultantId]) VALUES (3, N'sayeem2', N'sayeem2', N'sayeem2', N'sayeem2', N'sayeem2', N'sayeem2', N'sayeem2', N'sayeem2', N'sayeem2', 3)
SET IDENTITY_INSERT [dbo].[Banks] OFF
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyAddress], [Attention]) VALUES (1, N'rfl', N'badda', N'swq')
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyAddress], [Attention]) VALUES (2, N'rfl', N'badda', N'dsasda')
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyAddress], [Attention]) VALUES (3, N'Akij Group', N'Gulshan', N'Naimul')
SET IDENTITY_INSERT [dbo].[Companies] OFF
SET IDENTITY_INSERT [dbo].[Consultants] ON 

INSERT [dbo].[Consultants] ([ConsultantId], [ConsultantName], [ConsultantDesignation], [ProjectId]) VALUES (1, N'Naimul', N'Manager', 1)
INSERT [dbo].[Consultants] ([ConsultantId], [ConsultantName], [ConsultantDesignation], [ProjectId]) VALUES (2, N'sa', N'sa', 2)
INSERT [dbo].[Consultants] ([ConsultantId], [ConsultantName], [ConsultantDesignation], [ProjectId]) VALUES (3, N'sa2', N'sa2', 2)
SET IDENTITY_INSERT [dbo].[Consultants] OFF
SET IDENTITY_INSERT [dbo].[Invoices] ON 

SET IDENTITY_INSERT [dbo].[Invoices] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectCode]) VALUES (1, N'qq', N'q123')
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectCode]) VALUES (2, N'qq2', N'qqqq')
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectCode]) VALUES (3, N'Ipag ERP Software', N'IPAG_0101')
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 04-11-2020 23:09:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 04-11-2020 23:09:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsultantId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_ConsultantId] ON [dbo].[Banks]
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[Consultants]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BankId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_BankId] ON [dbo].[Invoices]
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[Invoices]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsultantId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_ConsultantId] ON [dbo].[Invoices]
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 04-11-2020 23:09:25 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[Invoices]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Banks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Banks_dbo.Consultants_ConsultantId] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Consultants] ([ConsultantId])
GO
ALTER TABLE [dbo].[Banks] CHECK CONSTRAINT [FK_dbo.Banks_dbo.Consultants_ConsultantId]
GO
ALTER TABLE [dbo].[Consultants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Consultants_dbo.Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consultants] CHECK CONSTRAINT [FK_dbo.Consultants_dbo.Projects_ProjectId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Banks_BankId] FOREIGN KEY([BankId])
REFERENCES [dbo].[Banks] ([BankId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Banks_BankId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Companies_CompanyId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Consultants_ConsultantId] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Consultants] ([ConsultantId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Consultants_ConsultantId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Projects_ProjectId]
GO
USE [master]
GO
